server:
  port: 8080
spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: product-service
          uri: http://product-service:8081
          predicates:
            - Path=/api/products/**
        - id: inventory-service
          uri: http://inventory-service:8082
          predicates:
            - Path=/api/inventory/**
        - id: order-service
          uri: http://order-service:8083
          predicates:
            - Path=/api/orders/**
        - id: payment-service
          uri: http://payment-service:8084
          predicates:
            - Path=/api/payments/**
management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway
